@media screen and (max-width: 600px) {
    #titulo h1 {
        font-size: 24px;
    }

    input[type="text"], button {
        width: 100%;
        margin-bottom: 10px;
    }

    button {
        padding: 10px;
        font-size: 16px;
    }

    .linhas {
        display: flex;
        flex-direction: column;
    }
}
